.bookreview .label1 { font-weight: bold; font-size: larger; padding-top: 5px; }
.bookreview .label2 { font-weight: bold; font-size: normal; float: left; padding-right: 5px; }
.bookreview .label3 { font-weight: bold; font-size: smaller; float: left; padding-right: 5px; }
.bookreview .content1 { font-weight: normal; font-size: larger; }
.bookreview .content2 { font-weight: normal; font-size: normal; }
.bookreview .content3 { font-weight: normal; font-size: smaller; }

.bookreview-list table {
  width: 100%;
}

.bookreview-list th.active {
	width: 90%;
	padding: 0.5em 0em 0.5em 1em;
}

.bookreview-list .dark img {
	padding: 1em 0.5em 1em 1.5em;
}

.bookreview-list .light img {
	padding: 1em 0.5em 1em 1.5em;	
}
.bookreview-list tr.light {
  	background-color: #fff;
	padding: 1em 1em 1em 1em;
}
.bookreview-list tr.light td.active {
	background-color: #fff;
	padding: 1em 1em 1em 1em;
}
.bookreview-list tr.dark {
	background-color: #f6f6f6;
	padding: 1em 1em 1em 1em;
}
.bookreview-list tr.dark td.active {
	background-color: #f6f6f6;
	padding: 1em 1em 1em 1em;
}
